*{
    padding: 0;
    margin: 0;
    background-color: #006F57;
}

.retirar{
    display: flex;
    justify-content: center;
    color: #FAF8F8;
    padding-top: 20px;
    font-size: 60px;
}

.T{
    color: #FAF8F8;
    background-color: #23856D;
    border: 3px solid #FAF8F8;
    width: 35%;
}

.T::placeholder{
    color: #FAF8F8;
}

.O{
    display: flex;
    justify-content: baseline;
    padding-top: 30px;
    padding-left: 140px;
}

.In{
    color: #FAF8F8;
    width: 70px;
    height: 35px;
    border: solid 2px #FAF8F8;
}

.In:hover{
    background-color: #FAF8F8;
    cursor: pointer;
    color: #006F57;
}

.boton{
    padding-left: 5px;
    width: 35px;
    height: 35px;
}

.chimenea{
    width: 30%;
    height: 30%;
    padding-top: 9%;
}

.chi{
    display: flex;
    justify-content: center;
}